#wrapper{
    width: 700px;
    height: 700px;
    margin: 0 auto;
    background-color: black;
}

.box{
    width: calc(100% / 10 - 6px);
    height: calc(100% / 10 - 6px);
    border:1px solid white;
    margin: 3px;
}
.active {
    background-color: aqua;
}